.heading-section{
    
    width: 100vh;
    background-color: goldenrod;
    padding: 2px;
    position: relative;
    left: %;
    
}
.heading-ul{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 0 10px -70px;
    list-style: none;
    text-decoration: none;
    align-content: center;
    margin-left: 25px;


}
link{
    text-decoration: none;
}

li{
    color: green;
    padding-left: 35px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: ;
    margin-top: 6px;
}
