.heading-section{
    
    width: 230vh;
    background-color: rgb(241, 241, 241);
    padding: 2px;
    position: relative;
   
    
}
.heading-section .heading-ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 15px 0 10px -70px;
    list-style: none;
    text-decoration: none;
    text-decoration: none;
    
}

.heading-section .heading-ul .link{
    text-decoration: none;

}
link{
    text-decoration: none;
}

li{
    color: lightseagreen;
    padding-left: 35px;
    font-weight: 600;
    font-size: 20px;
    text-decoration: none;
    color: ;
    margin-top: 6px;
}
