* {
    box-sizing: border-box;
}
/* body {
    
    margin: 0;
    padding: 20px;
    text-align: center;
    background: linear-gradient(to right, var(--accent-left), var(--accent-right)), url("./pexels-photo-15049185.jpeg");
} */
.main-container{
    width: 100%;
    min-height: 100vh;
    background-color: rgba(255, 255, 255, 0.134);
    background-size: cover;
    background-repeat: no-repeat ;
    position: relative;
    font-weight: 400;
    line-height: 1.6;
    color: white;
    margin: 3.125rem auto;
    

    
}

.bg-img{
    opacity: 1;
}
.sub-container{
    margin-left: 0%;
    margin-top: -70%;
    position: absolute;
    display: grid;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    
}
.heading{
    margin-top: -10px;
    font-size: 42px;
    text-align: center;
    font-family: 'Pacifico', cursive;
    margin-bottom: 5px;
    text-align: center !important;
    text-shadow: 1px 1px #333;
}
.emphasis{
    margin-top: 0rem;
    margin-bottom: 5px;
    font-size: 22px;
    text-align: center !important;
    text-shadow: 1px 1px #333;
    
}

.page-form{
    background: rgba(41, 35, 79, 0.651);
    padding: 2.5rem 0.625rem;
    border-radius: 0.3rem;
    width: 45%;
    margin: auto;
    box-shadow: 5px 10px #3131313d;

}

input{
    width: 60%;
    margin: 15px 15px 15px 85px;
    border-style: none;
    border-radius: 5px;
}
.text-area{
     width: 60%;
     margin: 15px 15px 15px 20px;
     padding-top: 20px;
     padding-bottom: 40px;

     
}
input, 
textarea {
    margin-bottom: 15px; 
    margin-right: 15%;
    height: 25px;
    text-indent: 10px;
    border-style: none;
    align-items: center;
    padding: 1.175rem 0.75rem;
    border-radius: 5px;

}


/* .questn-check{
    margin-top: 40%;
} */
.is-friendly{
    margin-left: 55px;
    font-weight: 600;
    font-size: 18px;
}

fieldset{
    width: 40%;
    display: grid;
    border: 5px solid rgb(122, 234, 229);
    margin: 10px 0 15px 30%;
    border-radius: 10px;
    
}
legend{
    font-family: 'Pacifico', cursive;

    font-weight: 600;
    
}
.employ-label{
    font-weight: 600;
    margin-top: -37px;
}

input[type="radio"],
input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
    margin-top: 15px;
    margin-left: 20px;

}
input[type="checkbox"] {
    margin-right: 0.5rem;
}

.last-label{
    font-size: 18px;
    font-weight: 600;
    margin: 0 20% 20px 10%;
    
}
.select{
    width: 34%;
    height: 35px;
    padding: 5px 15px 5px 0;
    color: darkslategrey;
    font-size: 18px;
    font-weight: 600;
    border-style: none;
    margin-left:10px;
    background-color: rgb(122, 234, 229);
    box-shadow: 5px 10px #3131313d;
    border-radius: 10px;

}
button{
     border: none;
     background-color: rgb(122, 234, 229);
     cursor: pointer;
     color: #333;
     padding: 0.3rem;
     font-size: 20px;
     font-weight: 600;
     width: 30%;
     margin: 20px 0 15px 4%;
     box-shadow: 5px 10px #3131313d;
    border-radius: 10px;

}

@media screen and (max-width: 1141px) {
    
    .heading{
        margin-top: -200px;
    }
    .page-form{
        width: 80%;
    }
    .text-area{
        margin-left: -25px;
        margin-bottom: 20px;
    }
    .is-tasty{
        margin-bottom: 20px;
        margin-left: -70px;
    }
    fieldset{
        margin-left: 25%;
    }
    .last-label{
        margin-left: 65px;
    }
}

@media screen and (max-width: 540px) {
    
    .main-container{
        margin-left: 30%;
    }
    .heading{
        margin-top: -550px;
    } 
    
    .page-form{
        width: 80%;
    }
    .text-area{
        margin-left: 35px;
        margin-bottom: 20px;
    }
    .is-friendly{
        margin-left: 20px;
    }
    fieldset{
        margin-left: 30%;
    }
}



@media screen and (max-width: 370px) {

    .main-container{
        width: 240%;
        background-size: cover;
    }

    .heading{
        margin-top: -320px;
    } 
    input{
        margin-left: 70px;
    }
    .text-area{
        margin-left: -20px;
    }
    .is-friendly{
        margin-left: 20px;
        margin-bottom: -10px;
    }
    fieldset{
        margin-left: 28%;
    }
    input[type="radio"] {
        margin-left: 10PX;
        }
    .employ-label{
        padding-left: 12px;
    }
    .select{
        margin-left: -15px;
    }
}

@media screen and (max-width: 280px) {
    .heading{
        margin-top: -450px;
    }
}

@media screen and (max-width: 412px) {
    
    .main-container{
        width: 240%;
        background-size: cover;
    }
    .heading{
        margin-top: -250px;
    }
    .text-area{
        margin-left: -20px;
    }
}